@charset "utf-8";
html {
	background-color:#FAFDFE;
	background-image:url(../images/body.jpg);
	background-position:center top;
	background-repeat:no-repeat;
	background-attachment: fixed;
}
body {
	padding: 0px;
	margin: 0px;
	font:normal 12px Tahoma, Geneva, Arial, sans-serif;
	color:#555;
}
h1 {
	padding:0 0 6px 12px;
	color:#0a69a5;
	border-bottom:#ececec 1px solid;
	font-weight:900;
	font-family: arial;
	font-size: 16px;
	font-style: normal;
	font-variant: normal;
}
* {
	padding: 0px;
	margin: 0px;
}
a {
	text-decoration:none;
	color:#555;
}
a:visited {
	outline:none;
}
a:hover {
	text-decoration:underline;
}
#wrap {
	width:950px;
	padding: 0;
	margin:0 auto;
}
.clearfix:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.clear {
	clear:both;
}
.w100 {
	width:100%;
}
.f_l {
	float:left;
}
.f_r {
	float:right;
}
li {
	list-style-type:none;
}
img {
	border:none;
}
/*--header--*/
#header {
	position:relative;
	width:950px;
	height:90px;
	background-image: url(../images/yuyue.png);
	background-repeat: no-repeat;
	background-position: 220px 35px;
	margin-right: auto;
	margin-left: auto;
}
#header #logo {
	position:absolute;
	top:15px;
	left:0px;
	width:200px;
	height:70px;
	display:block;
}
#header #top_nav {
	position:absolute;
	top:0;
	right:0;
	width:300px;
	height:26px;
}
#header #top_nav ul {
	float:right;
}
#header #top_nav ul li {
	float:left;
	display:block;
	height:26px;
	padding:4px 6px 0 17px;
}
#header #top_nav ul li.last {
	padding-right:0px;
}
#header #top_nav ul li a, #header #top_nav ul li a:visited {
	font-size:12px;
	text-decoration:none;
	color:#868686;
}
#header #top_nav ul li a:hover {
	text-decoration:underline;
}
#header #top_userArea {
	position:absolute;
	top:38px;
	right:0px;
	width:180px;
	height:20px;
}
#header #top_userArea ul {
	float:right;
	width:180px;
}
#header #top_userArea ul li {
	float:left;
	font-size:12px;
	margin-right: 5px;
}
#header #top_userArea ul li a, #header #top_userArea ul li a:visited {
	height:17px;
	display:inline-block;
	color:#808080;
	text-decoration:none;
}
#header #top_userArea ul li a:hover {
	text-decoration:underline;
}
/*--end header--*/

/*--nav--*/
#nav {
	width:100%;
	height:45px;
	background:#0972ad url(../images/nav_center.png) repeat-x 0 0;
}
#nav .center {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
}
#nav ul {
	width:780px;
	height:45px;
	float: left;
}
#nav ul li {
	float:left;
	height:45px;
	display:block;
	padding:0 1px 0 0;
	background-image: url(../images/nav_spacer.png);
	background-repeat: no-repeat;
	background-position: right center;
}
#nav ul li.last {
	background-image:none;
}
#nav ul li.last a, #nav ul li.last a:visited {
	padding-right:18px;
}
#nav ul li a, #nav ul li a:visited {
	height:45px;
	display:inline-block;
	text-decoration:none;
	color:#fff;
	font-family: tahoma;
	font-size: 12px;
	line-height: 45px;
	font-weight: bold;
	padding-right: 20px;
	padding-left: 20px;
}
#nav ul li a:hover {
	background-color: #0972ad;
	background-image: url(../images/nav_hover.png);
	background-repeat: no-repeat;
	background-position: center;
}
#nav ul li a:active {
	height:45px;
	color: #D6ECED;
}
#nav .searchWrapper {
	float: left;
	width: 170px;
	background-image: url(../images/search_bg.png);
	background-repeat: no-repeat;
	background-position: 0 0;
	height: 25px;
	margin-top: 12px;
}
#nav .searchWrapper #searchBox {
	width:145px;
	height:15px;
	padding:2px 0 0 0;
	border:none;
	color:#FFF;
	background-color:transparent;
	vertical-align:middle;
}
#nav .searchWrapper #searchBtn {
	width:20px;
	height:20px;
	background:transparent;
	border:none;
	cursor:pointer;
	vertical-align:middle;
	outline:none;
}
/*--end nav--*/

/*--footer--*/
#footer {
	width:100%;
	font-size:12px;
	color:#666;
	background-image: url(../images/footer.png);
	background-repeat: repeat-x;
	height: 325px;
}
#footer .contact {
	width: 920px;
	margin-right: auto;
	margin-left: auto;
	line-height: 35px;
	text-align: right;
	font-size: 15px;
	font-weight: bold;
}
#footer .contact a {
	color:#fff
}
#footer ul {
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
	background-color: #d9e2e2;
	margin-top: 5px;
	-moz-border-radius:0px 0px 5px 5px;
}
#footer ul li {
	float: left;
	width: 150px;
	overflow: hidden;
	line-height: 22px;
	padding-left: 20px;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #CCCCCC;
	height: 155px;
	padding-top: 15px;
}
#footer ul li strong {
	font-size: 14px;
}
#footer ul li a {
	color: #999999;
	padding-left: 5px;
}
#footer .footer_row {
	width:950px;
	height:22px;
	border-bottom:#e4e4e4 1px solid;
	margin-right: auto;
	margin-left: auto;
	padding-top: 15px;
}
#footer .footer_row1 {
	padding-top:8px;
	width: 950px;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#footer ul li.ver {
	border-right-style: none;
	width: 245px;
}
#footer .fotlogo {
	height: 70px;
	width: 180px;
	float: left;
	padding-top: 40px;
	padding-left: 25px;
	overflow: hidden;
}
/*--end footer--*/


/*--center--*/
#center {
	width: 940px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	overflow: hidden;
}
#center .title {
	font-size: 16px;
	float: left;
	width: 770px;
	padding-bottom: 5px;
	margin-bottom: 10px;
	padding-top: 0px;
	padding-right: 0px;
	padding-left: 0px;
}
/*--position--*/
.position {
	width:100%;
	height:31px;
	padding-bottom:10px;
	background:url(../images/position_bg.png) no-repeat 0 0;
	text-align: left;
}
.position ul {
	float:left;
	display:block;
	padding:9px 0 0 1px;
}
.position ul li {
	float:left;
	display:block;
	height:17px;
	padding:0 9px 0 6px;
	font-size:12px;
	color:#777;
	background:url(../images/position_spacer.gif) no-repeat right 5px;
}
.position ul li.last {
	background-image:none;
	color:#585858;
	padding-right:0px;
}
.position ul li a, .position ul li a:visited {
	font-size:12px;
	color:#777;
	text-decoration:none;
}
.position ul li a:hover {
	text-decoration:underline;
}
.position ul li .home_icon {
	height:17px;
	display:inline-block;
	padding:1px 0 0 25px;
	margin-top:-1px;
	background:url(../images/home_icon.png) no-repeat 0 0;
}
.filterProducts_listing .prod_img01 {
	float:left;
	height:auto;
	text-align:center;
	width:190px;
}
.filterProducts_listing .prod_details01 {
	float:right;
	width:550px;
}
.filterProducts_listing .prod_details01 h3 {
	padding-bottom:8px;
}
.filterProducts_listing .prod_details01 h3 a {
	font:bold 12px tahoma;
	color:#0a69a5;
	text-decoration:none;
}
.filterProducts_listing .prod_details01 h3 a:hover {
	color:#f58120;
}
.filterProducts_listing .prod_details01 .prod_specs01 {
	width:420px;
	display:block;
	font-size:12px;
	color:#555;
	line-height:15px;
	color:#666;
}
.filterProducts_listing .prod_details01 .prod_specs01 li {
	display:block;
	padding-bottom:3px;
}
.filterProducts_listing .prod_details01 .prod_specs01 li span {
	font-weight:bold;
}
.filterProducts_listing .prod_details01 .btn_detalii, .filterProducts_listing .prod_details01 .btn_adauga:visited {
	position:absolute;
	bottom:50px;
	right:0px;
	width:67px;
	height:20px;
	padding:5px 0 0 33px;
	display:inline-block;
	font-size:12px;
	text-decoration:none;
	color:#fff;
	background: url(../images/btn_detalii.png) no-repeat 0 0;
}
.filterProducts_listing .prod_details01 .btn_detalii:hover {
	text-decoration:underline;
}
.filterProducts_listing .prod_details01 .btn_detalii:active {
	height:19px;
	padding:6px 0 0 33px;
}
.filterProducts_listing .prod_price {
	position:absolute;
	bottom:110px;
	right:26px;
	width:auto;
	height:25px;
	display:inline-block;
	background:url(../images/price_center.gif) repeat-x 0 0;
}
.filterProducts_listing .redus {
	bottom:100px;
}
.filterProducts_listing .prod_price span {
	height:25px;
	padding:0 0 0 10px;
	display:inline-block;
	background:url(../images/price_left_corner.gif) no-repeat 0 0;
}
.filterProducts_listing .prod_price span span {
	padding:0 10px 0 0;
	color:#f58120;
	font:bold 21px arial;
	background:url(../images/price_right_corner.gif) no-repeat right 0;
}
.filterProducts_listing .prod_price span span em {
	font:bold 14px arial;
	color:#343434;
}
.filterProducts_listing .prod_redus {
	position:absolute;
	bottom:130px;
	right:15px;
	width:auto;
	height:25px;
	display:inline-block;
	background:url(../images/price_center.gif) repeat-x 0 0;
}
.filterProducts_listing .prod_redus span {
	height:25px;
	padding:0 0 0 10px;
	display:inline-block;
	background:url(../images/price_left_corner.gif) no-repeat 0 0;
}
.filterProducts_listing .prod_redus span span {
	padding:0 10px 0 0;
	color:#999999;
	text-decoration:line-through;
	font:bold 21px arial;
	background:url(../images/price_right_corner.gif) no-repeat right 0;
}
.filterProducts_listing .prod_redus span span em {
	font:bold 14px arial;
	color:#999999;
}
.prod_price span {
	background:url("../images/price_left_corner.gif") no-repeat scroll 0 0 transparent;
	display:inline-block;
	height:25px;
	padding:0 0 0 10px;
}
.prod_price span span {
	background:url("../images/price_right_corner.gif") no-repeat scroll right 0 transparent;
	color:#F58120;
	font:bold 21px arial;
	padding:0 10px 0 0;
}
.prod_price span span em {
	color:#343434;
	font:bold 14px arial;
}
.prod_price {
	background:url("../images/price_center.gif") repeat-x scroll 0 0 transparent;
	display:inline-block;
	height:25px;
}
.position .cartWrapper {
	float:right;
	height:21px;
	font-size:12px;
	color:#575757;
	padding-top: 5px;
	padding-right: 8px;
	padding-bottom: 0;
	padding-left: 12px;
	background-image: url(../images/cart_spacer.gif);
	background-repeat: no-repeat;
	background-position: 0 2px;
}
#scrollWrap {
	width:320px;
	height: 18px;
	overflow: hidden;
	float: left;
	margin-top: 6px;
}
#scrollMsg {
	float: left;
	text-align: left;
	padding:0 25px;
}
#scrollMsg ul {
	margin:0;
	padding:0;
}
#scrollMsg li {
	line-height: 18px;
	list-style:none;
	float: left;
	width: 100%;
}
/*--end position--*/

/*--banner--*/
#banner {
	width:940px;
	height:317px;
	padding-bottom:10px;
}
#banner #bannerTop {
	position:relative;
	width:940px;
	height:274px;
	overflow:hidden;
}
#banner #bannerTop ul {
	position:absolute;
	width:2000em;
	height:274px;
}
#banner #bannerTop ul li {
	float:left;
	width:940px;
	height:274px;
	display:block;
}
#banner .bannerBottom {
	position:relative;
	width:940px;
	height:42px;
	background:url(../images/banner_bottom_bg.png) no-repeat 0 0;
}
#banner .bannerBottom .bannerThumbs {
	padding-left:8px;
}
#banner .bannerBottom .bannerThumbs li {
	float:left;
	width:35px;
	height:35px;
	padding:0 3px;
}
#banner .bannerBottom .bannerThumbs li a {
	display:inline-block;
	width:35px;
	height:25px;
	padding-top:10px;
	cursor:pointer;
}
#banner .bannerBottom .bannerThumbs li img {
	border:1px solid #CCC;
}
#banner .bannerBottom .bannerThumbs .current {
	background:url(../images/banner_active.png) no-repeat center 0;
}
#banner .bannerBottom .bannerControls {
	position:absolute;
	top:10px;
	right:4px;
	width:62px;
}
#banner .bannerBottom .bannerControls li {
	float:left;
	padding-right:4px;
}
#banner .bannerBottom .bannerControls li a {
	width:25px;
	height:26px;
	display:block;
	text-indent:-999999px;
	cursor:pointer;
}
#banner .bannerBottom .bannerControls li a:active {
	background-position:0 bottom;
}
#banner .bannerBottom .bannerControls li .backward {
	background:url(../images/banner_prev.png) no-repeat 0 0;
}
#banner .bannerBottom .bannerControls li .forward {
	background:url(../images/banner_next.png) no-repeat 0 0;
}
/*--end banner--*/

/*--home_main--*/
#home_main {
	width: 940px;
	height: 280px;
	background-image: url(../images/bg_main.gif);
}
#home_main .about {
	float: left;
	width: 285px;
	padding-top: 35px;
	padding-left: 12px;
	padding-right: 8px;
	line-height: 22px;
}
#home_main .about p {
	float: left;
	height: 35px;
	width: 100%;
	line-height: 22px;
}
#home_main .about a {
	font-size: 14px;
	color: #3d8b95;
}
#home_main .news {
	float: left;
	width: 296px;
	padding-top: 35px;
	padding-right: 10px;
	padding-left: 10px;
}
#home_main .news ul {
	float: left;
}
#home_main .news li {
	float: left;
	line-height: 22px;
	color: #48a883;
	width: 295px;
	background-image: url(../images/news_bg.png);
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 10px;
}
#home_main .news li a {
	float: left;
	padding-right: 10px;
	color: #3d8b95;
}
#home_main .news li span {
	float: right;
	text-align: right;
	padding-right: 10px;
}
#home_main .pro {
	float: left;
	width: 298px;
	padding-top: 35px;
	padding-right: 10px;
	padding-left: 10px;
	line-height: 22px;
}
.panelWrapper {
	width:160px;
	padding-bottom:4px;
	margin-bottom:10px;
	background:url(../images/panel_bottom.png) no-repeat 0 bottom;
}
.panelWrapper .panelTop h4 {
	line-height:31px;
	text-indent:3px;
	color: #CCC
}
.panelWrapper .panelTop {
	width:160px;
	height:31px;
	background:url(../images/panel_top.png) no-repeat 0 0;
}
.panelWrapper .panelBody {
	width:160px;
	padding:4px 0 0 0;
	background:url(../images/panel_body.png) repeat-y 0 0;
}
.panelWrapper .panelBody .cr_wp li {
	margin:0 10px;
	line-height:20px;
}
.panelWrapper .panelTop .cr_icon {
	background:url(../images/cr_icon.png) no-repeat 135px 7px;
}
.panelWrapper .panelTop .email_icon {
	background:url(../images/email_icon.png) no-repeat 135px 10px;
}
.panelWrapper .emailWrapper {
	width:149px;
	padding:10px 0 8px 11px;
}
.panelWrapper .contactWrapper {
	text-align:center;
	line-height:30px;
}
.input_email {
	width:130px;
	height:19px;
	border:none;
	font-size:12px;
	color:#7c7c7c;
	background:url(../images/input_email.png) no-repeat 0 0;
	padding-top: 2px;
	padding-right: 4px;
	padding-bottom: 0;
	padding-left: 4px;
}
.btn_email {
	clear:left;
	width:60px;
	height:19px;
	margin:6px 0 0 42px;
	outline:none;
	border:none;
	cursor:pointer;
	background:url(../images/btn_email.png) 0 0;
}
.btn_email:hover {
	background-position:0 bottom;
}
.btn_email:active {
	background-position:0 center;
}
ul.promoListing li {
	width:90%;
	margin:0 auto;
	padding:14px 0 15px;
	display:block;
	text-align:center;
	border-bottom:#e3e3e3 1px solid;
}
ul.promoListing li.last {
	border:none;
}
ul.promoListing li a, ul.promoListing li a:visited {
	display:inline-block;
	padding-top:2px;
	font:bold 12px tahoma;
	line-height:15px;
	text-decoration:none;
	color:#077fb9;
}
ul.promoListing li a:hover {
	color:#f58120;
}
ul.promoListing li span {
	display:block;
	padding-top:2px;
	color:#e77a1e;
	font-size:12px;
}
ul.promoListing li img {
	width:140px;
}
ul.promoListing li span.redus {
	text-decoration: line-through;
	color: #868686;
}
.panelWrapper .panelTop .promo_icon {
	background:url(../images/promo_icon.png) no-repeat 120px 10px;
}
/*--end right--*/

/*--links--*/
.links {
	width:940px;
	height:72px;
	padding-bottom:10px;
	overflow: hidden;
	background-color: #FFFFFF;
	background-image: url(../images/links_bg.png);
	background-repeat: no-repeat;
	background-position: center 0;
	padding-right: 5px;
	padding-left: 5px;
	margin-right: auto;
	margin-left: auto;
}
.links li {
	float:left;
	display:block;
	background:url(../images/links_spacer.png) no-repeat left 1px;
	padding-top: 15px;
	padding-right: 14px;
	padding-bottom: 0;
	padding-left: 15px;
	height: 70px;
}
.links li.last {
	background-image:none;
	padding-top: 22px;
}
.link_logo {
	background-image: url(../images/link_logo_bg.png);
	background-repeat: no-repeat;
	display: block;
	height: 46px;
	width: 101px;
	float: left;
	padding-top: 7px;
	padding-left: 7px;
}
.link_logo img {
	vertical-align:middle;
	height: 31px;
	width: 88px;
}
/*--end links--*/

#secondary {
	float:right;
	width:160px;
}
#secondary .panelDark {
	background:url(../images/panel_bottom_dark.png) no-repeat 0 bottom;
}
#secondary .panelDark .panelBody {
	background:url(../images/panel_body_dark.png) repeat-y 0 0;
}
.panelWrapper .panelTop h4 {
	height:21px;
	padding:9px 0 0 10px;
	font:bold 12px tahoma;
	color:#868686;
}
.panelWrapper .panelTop h4 span {
	height:20px;
	display:block;
}
.panelWrapper .panelTop h4 .cr_icon {
	background:url(../images/cr_icon.png) no-repeat 125px 0;
}
.panelWrapper .panelTop h4 .newsletter_icon {
	background:url(../images/newsletter_icon.png) no-repeat 126px 3px;
}
.panelWrapper .panelTop h4 .promo_icon {
	background:url(../images/promo_icon.png) no-repeat 110px 2px;
}
.panelWrapper .panelTop h4 .filter_icon {
	background:url(../images/filter_icon.png) no-repeat 129px 1px;
}
.panelWrapper .panelTop h4 .info_icon {
	background:url(../images/info_icon.png) no-repeat 129px 1px;
}
.panelWrapper .cr_wp {
	padding:5px 0;
}
.panelWrapper .a_cr_icon, .panelWrapper .a_cr_icon:visited {
	width:84px;
	height:50px;
	padding:1px 57px 0 12px;
	display:block;
	text-decoration:none;
	font-size:12px;
	line-height:14px;
	color:#868686;
	background:url(../images/clock_icon.png) no-repeat right 0;
}
.panelWrapper .a_cr_icon:hover {
	color:#e77a1e;
	background-position:right bottom;
}
.panelWrapper .tw_wp {
	padding:5px 0 2px;
}
.panelWrapper .newsletterWrapper {
	width:149px;
	padding:10px 0 8px 11px;
}
.panelWrapper .input_newsletter {
	width:130px;
	height:19px;
	padding:2px 4px 0;
	border:none;
	font-size:12px;
	color:#7c7c7c;
	background:url(../images/input_newsletter.png) no-repeat 0 0;
}
.panelWrapper .btn_abonare {
	clear:left;
	width:52px;
	height:19px;
	margin-top:6px;
	outline:none;
	border:none;
	cursor:pointer;
	background:url(../images/btn_abonare.png) 0 0;
}
.panelWrapper .btn_abonare:hover {
	background-position:0 bottom;
}
.panelWrapper .btn_abonare:active {
	background-position:0 center;
}
ul.promoListing li {
	width:90%;
	margin:0 auto;
	padding:14px 0 15px;
	display:block;
	text-align:center;
	border-bottom:#e3e3e3 1px solid;
}
ul.promoListing li.last {
	border:none;
}
ul.promoListing li a, ul.promoListing li a:visited {
	display:inline-block;
	padding-top:2px;
	font:bold 12px tahoma;
	line-height:15px;
	text-decoration:none;
	color:#077fb9;
}
ul.promoListing li a:hover {
	color:#f58120;
}
ul.promoListing li span {
	display:block;
	padding-top:2px;
	color:#e77a1e;
	font-size:12px;
}
ul.promoListing li span.redus {
	text-decoration: line-through;
	color: #868686;
}
/*--end secondary--*/
#filters {
	float:left;
	width:160px;
	padding-right:10px;
	overflow: hidden;
}
#filters .panelBody {
	padding:0;
}
#filters .filterBox h3 {
	width:148px;
	height:17px;
	margin:0 auto;
	padding:4px 0 6px 10px;
	font:bold 12px tahoma;
	color:#6f6f6f;
	background:url(../images/filters_title.png) repeat-x 0 0;
}
#filters .filterBox h3 span {
	font-weight:normal;
}
#filters .filterBox .ul_filters {
	width:138px;
	display:block;
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 7px;
	padding-left: 10px;
}
#filters .filterBox .ul_filters li {
	border-bottom:1px dashed #CCC;
	margin-bottom:7px;
	background-image:url(../images/icon.gif);
	background-repeat:no-repeat;
	background-position:left;
	padding-bottom:3px;
	padding-left:10px;
}
#filters .filterBox .ul_filters .top1 {
	background-image:url(../images/top_1.gif);
	padding-left:20px;
}
#filters .filterBox .ul_filters .top2 {
	background-image:url(../images/top_2.gif);
	padding-left:20px;
}
#filters .filterBox .ul_filters .top3 {
	background-image:url(../images/top_3.gif);
	padding-left:20px;
}
#filters .filterBox .ul_filters .top4 {
	background-image:url(../images/top_4.gif);
	padding-left:20px;
}
#filters .filterBox .ul_filters .top5 {
	background-image:url(../images/top_5.gif);
	padding-left:20px;
}
#filters .filterBox .ul_filters .top6 {
	background-image:url(../images/top_6.gif);
	padding-left:20px;
}
#filters .filterBox .ul_filters .top7 {
	background-image:url(../images/top_7.gif);
	padding-left:20px;
}
#filters .filterBox .ul_filters .top8 {
	background-image:url(../images/top_8.gif);
	padding-left:20px;
}
#filters .filterBox .ul_filters .top9 {
	background-image:url(../images/top_9.gif);
	padding-left:20px;
}
#filters .filterBox .ul_filters .top10 {
	background-image:url(../images/top_10.gif);
	padding-left:20px;
}
#filters .filterBox .ul_filters li a, #filters .filterBox .ul_filters li a:visited {
	font:normal 12px tahoma;
	color:#0481b7;
	text-decoration:none;
}
#filters .filterBox .ul_filters li a:hover {
	text-decoration:underline;
	color:#E77A1E;
}
#filters .filterBox .ul_filters li.selected a {
	font-weight:bold;
	color:#E77A1E;
}
#filters .filterBox select {
	width:130px;
	height:19px;
	padding:1px 0 0 2px;
	margin:4px 0 18px 13px;
	font:normal 12px tahoma;
	color:#0481b7;
}
#primaryFiltered {
	float:left;
	width:770px;
}
.filterControls {
	width:770px;
	height:26px;
	padding-bottom:10px;
	font-size:12px;
	background:url(../images/filterControls_bg.png) no-repeat 0 0;
}
.filterControls a {
	color:#999
}
.filterControls .back_next {
	float:right;
	line-height:26px;
	color:#999
}
.filterControls .back_next li {
	float:right;
	margin-right:15px;
}
.page {
	float:left;
	width:87px;
	height:20px;
	padding:6px 0 0 10px;
	overflow:hidden;
}
.page span {
	float:left;
	width:34px;
	height:13px;
	display:block;
	font-weight:bold;
	color:#777;
}
.page a {
	float:left;
	font-size:5px;
	width:21px;
	height:12px;
	display:block;
	margin:1px 4px 0 0;
	text-indent:-999999px;
	overflow:hidden;
}
.page a:hover {
	background-position:0 center;
}
.page a:active {
	background-position:0 bottom;
}
.page a.active {
	background-position:0 center;
}
.page .btn_ordonare_descendenta {
	background:url(../images/btn_ordonare_descendenta.png) no-repeat 0 0;
}
.page .btn_ordonare_ascendenta {
	background:url(../images/btn_ordonare_ascendenta.png) no-repeat 0 0;
}
.paginatorWrapper {
	float:right;
	width:auto;
	padding:0px 8px 0 0;
	line-height:25px;
	float:right;
	font-size:11px;
	color: #999
}
.paginatorWrapper span {
	width:auto;
	float: none;
	margin:0 2px;
	padding:0;
	color:#999
}
.paginatorWrapper a {
	float:none;
}
.paginatorWrapper .curr {
	padding:0 3px 2px 3px;
	background: #F90;
	color:#FFF
}
.filterProducts_listing .listingBox01 {
	position:relative;
	width:770px;
	height:auto;
	padding-bottom:10px;
}
.filterProducts_listing .listingBox01_top {
	width:770px;
	height:10px;
	font-size:0px;
	background:url(../images/listingBox01_top.png) no-repeat 0 0;
}
.filterProducts_listing .listingBox01_body {
	width:770px;
	height:auto;
	padding:8px 0;
	background:url(../images/listingBox01_body.png) repeat-y 0 0;
}
.filterProducts_listing .listingBox01_bottom {
	width:770px;
	height:10px;
	font-size:0px;
	background:url(../images/listingBox01_bottom.png) no-repeat 0 0;
}
.filterProducts_listing .article {
	margin:0 20px;
	line-height:35px;
	color:#666
}
.filterProducts_listing .article span {
	float:right;
	color:#CCC;
}
.filterProducts_listing .article li {
	border-bottom:1px dashed #CCC;
	background:url(../images/list.png) left no-repeat;
	padding-left:20px;
}
.filterProducts_listing .prod_img01 {
	float:left;
	width:190px;
	height:auto;
	text-align:center;
}
.text {
	line-height:25px;
	margin:0 10px;
	color:#666
}
.book {
	line-height:20px;
	text-align:left;
	width:770px
}
fieldset {
	padding-left: 20px;
	border: 1px solid #CCC;
	-moz-border-radius:3px 3px 3px 3px;
}
.book legend {
	-moz-border-radius:3px 3px 3px 3px;
	font-size:14px;
	color: #3A858F;
	font-weight: bold;
	padding: 2px;
	background-color: #F6F6F6;
}
.book form {
	margin:20px 0 0 50px;
}
.book .fy {
	float:left;
	width:648px;
	text-align:right;
}
.book li {
	border:1px #ccc solid;
	padding:10px;
}
.book .b2 {
	float:right;
	color:#999;
}
.book span {
	float:none;
	margin:0
}
.book a {
	float:none
}
.productMain_area {
	width:765px;
	float: left;
}
.product_info {
	width:765px;
	float:left;
	margin-bottom:20px;
	line-height:35px;
}
.product_info h1 {
	width:435px;
	padding-left:0;
}
.product_info span {
	font-weight:900;
}
.product_info .product_view {
	float:left;
	margin-left:30px;
}
.product_info .product_img {
	float:left;
}
.product_info .product_img img {
	width:300px;
}
.product_info .prod_price {
	line-height:normal;
}
.product_content {
	width:765px;
	float:left;
	line-height:25px;
	color:#666;
}
.product_content h1 {
	margin-bottom:10px;
	padding:0;
	font-size:16px;
}
.hr_info {
	margin:0 10px 20px 10px;
	line-height:25px;
	height:50px;
	border:1px #CCC dotted;
}
.hr_info span {
	font-weight:900;
	color:#39F
}
.hr_info li {
	width:50%;
	float:left;
	text-indent:10px;
}
.hr_info .b {
	background-color: #E8E8E8;
}
